<p-table [value]="members" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Family Name</th>
      <th>Role</th>
      <th>Status</th>
      <th>Nationality</th>
      <th>Identity Type</th>
      <th>Identity Code</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.familyName }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.status }}</td>
      <td>{{ user.nationality }}</td>
      <td>{{ user.identityDocument }}</td>
      <td>{{ user.identityNumber }}</td>
      <td>
        <button (click)="onCheck(user.num)" pButton pRipple type="button" icon="pi pi-check"
                class="p-button-rounded p-button-text"></button>
        <button (click)="onRefuse(user.num)" pButton pRipple type="button" icon="pi pi-times"
                class="p-button-rounded p-button-danger p-button-text"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr *ngIf="members?.length === 0">
      <td colspan="7">No Members found.</td>
    </tr>
  </ng-template>
</p-table>
