<div class="flex flex-column justify-content-center align-items-center">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8" >
    <div class="flex flex-column justify-content-center align-items-center gap-7" >
      <div ><img
        src="https://cdn.discordapp.com/attachments/1021414631778037801/1179055825768173638/404.png?ex=65e7224e&is=65d4ad4e&hm=0d51da73699e1c1635777de7f890714878080999f5a66e75f424dc6d205dd0ac&"
        alt="Image"
        class="w-full md:w-28rem"></div>
      <div class="text-center" >
        <div class="mt-6 mb-3 font-bold text-6xl text-900" >Are you lost?</div>
        <p class="text-700 text-3xl mt-0 mb-6">Sorry, we couldn't find the page.</p>
        <button routerLink="/" pbutton="" type="button" label="Go back to home page"
                class="p-element p-button-outlined p-button p-component"><span
          class="p-button-label">Go back to home page</span></button>
      </div>
    </div>
  </div>
</div>
