<div class="flex flex-column justify-content-center align-items-center">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8" bis_skin_checked="1">
    <div class="flex flex-column justify-content-center align-items-center gap-7" bis_skin_checked="1">
      <div bis_skin_checked="1"><img
        src="https://cdn.discordapp.com/attachments/1021414631778037801/1179055825768173638/404.png?ex=6578644e&is=6565ef4e&hm=8bbf0c095e60562b853731c7e5cb8a892fbe14ac3c9f35126c590af58f8ef102&"
        alt="Image"
        class="w-full md:w-28rem"></div>
      <div class="text-center" bis_skin_checked="1">
        <div class="mt-6 mb-3 font-bold text-6xl text-900" bis_skin_checked="1">Are you lost?</div>
        <p class="text-700 text-3xl mt-0 mb-6">Sorry, we couldn't find the page.</p>
        <button routerLink="/" pbutton="" type="button" label="Go back to home page"
                class="p-element p-button-outlined p-button p-component"><span
          class="p-button-label">Go back to home page</span></button>
      </div>
    </div>
  </div>
</div>
