<div>
  <div
    class="px-5 surface-0 border-bottom-1 surface-border relative static"
    style="height: 60px;">
    <div class="flex justify-content-between align-items-center">
      <div>
        <p-button icon="pi pi-plus" label="Add Competition" size="small" styleClass="p-button-success"></p-button>
      </div>
      <div class="p-input-icon-left border-2 border-round border-gray-300">
        <i class="pi pi-search"></i>
        <input
          class="p-inputtext p-component p-element border-none w-full"
          placeholder="Search"
          type="text">
      </div>
    </div>
  </div>
</div>
