<div class=" p-dialog-content" [formGroup]="memberForm">
  <div class="flex flex-column gap-3 mt-3 ">
    <div class="flex gap-3">
      <div class="w-full">
        <label class="block mb-1 text-color text-base" for="name">Member Name</label>
        <span
          class="p-input-icon-left w-full">
          <i class="pi pi-user"></i>
          <input class="p-inputtext p-component p-element w-full" formControlName="name" id="name"
                 placeholder="Member Name" type="text">
        </span>
      </div>
      <div class="w-full">
        <label class="block mb-1 text-color text-base" for="familyName">Family Name</label>
        <span
          class="p-input-icon-left w-full">
        <i class="pi pi-user"></i>
        <input class="p-inputtext p-component p-element w-full" formControlName="familyName" id="familyName"
               placeholder="Member Family Name" type="text">
        </span>
      </div>
    </div>
    <div>
      <label class="block mb-1 text-color text-base" for="accessionDate">Accession Date</label>
      <span class="p-input-icon-left w-full">
      <i class="pi pi-calendar"></i>
      <input class="p-inputtext p-component p-element w-full" formControlName="accessionDate" id="accessionDate"
             type="date">
      </span>
    </div>
    <div>
      <label class="block mb-1 text-color text-base" for="nationality">Nationality</label>
      <span class="p-input-icon-left w-full">
        <i class="pi pi-flag"></i>
        <input class="p-inputtext p-component p-element w-full" id="nationality" formControlName="nationality"
               placeholder="Member Nationality" type="text">
      </span>
    </div>
    <div class="flex gap-3">
      <div class="w-full">
        <label class="block mb-1 text-color text-base" for="identityDocument">Identity Document</label>
        <span
          class="p-input-icon-left w-full">
          <i class="pi pi-file"></i>
          <select class="p-inputtext p-component p-element w-full" id="identityDocument" formControlName="identityDocument">
            <option value="">Select Option</option>
            <option value="CIN">CIN</option>
            <option value="CARTE_RESIDENCE">CARTE RESIDENCE</option>
            <option value="PASSPORT">PASSPORT</option>
          </select>
        </span>
      </div>
      <div class="w-full">
        <label class="block mb-1 text-color text-base" for="identityNumber">Identity Number</label>
        <span
          class="p-input-icon-left w-full">
        <i class="pi pi-briefcase"></i>
        <input class="p-inputtext p-component p-element w-full" id="identityNumber"
               formControlName="identityNumber" placeholder="Member Identity Number" type="text">
        </span>
      </div>
    </div>
  </div>
</div>
<div class="p-dialog-footer">
  <div class="flex gap-3 justify-content-end border-top-1 surface-border pt-5">
    <button (click)="onCancel()" class="p-element p-ripple p-button-text p-button p-component">
      <span
        class="p-button-label">Cancel
      </span>
    </button>
    <button [disabled]="memberForm.invalid" (click)="onSubmit()" class="p-element p-ripple p-button-rounded p-button p-component">
      <span
        class="p-button-label">Submit
      </span>
    </button>
  </div>
</div>
