<div class="flex justify-content-between align-items-center mb-4 mt-1">
  <button pButton pRipple label="Back" class="p-button-outlined mr-2 text-red-300" icon="pi pi-backward" (click)="onCancel()"></button>
  <button pButton pRipple label="Add Hunting" class="p-button-outlined mr-2" icon="pi pi-plus" (click)="addHunting()"></button>
</div>
<p-table [value]="huntings" [tableStyle]="{ 'min-width': '30rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Fish</th>
      <th>Number Of Fish</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hunting>
    <tr>
      <td>{{ hunting.fish.name }}</td>
      <td>{{ hunting.numberOfFish }}</td>
      <td>
        <button pButton pRipple (click)="onDelete(hunting.id)" type="button" icon="pi pi-trash"
                  class="p-button-rounded p-button-danger p-button-text"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
