<p-dialog [(visible)]="visible" [dismissableMask]="true" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{ width: '35vw', height:'11rem' }" header="{{title}}">
  <app-ranking
    (cancel)="cancel($event)"
    (submit)="save($event)"
    [competitionMembers]="members"
    [ranking]="ranking"
  ></app-ranking>
</p-dialog>
<p-dialog [(visible)]="huntingVisible" [dismissableMask]="true" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{ width: '31vw', height:'18rem' }" header="{{'Add Hunting'}}">
  <app-manage-hunting
    [hunting]="hunting"
    (cancel)="cancel($event)"
    (submit)="saveHunting($event)"
  ></app-manage-hunting>
</p-dialog>

<p-dialog [(visible)]="podiumVisible" [dismissableMask]="true" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{ width: '38vw', height:'28rem' }"
          class="podium" header="{{'Podium'}}">
  <div class="container">
    <div class="podium_item second">
      <p class="podium_city">{{rankings[1]?.member?.name}}</p>
      <div class="podium_rank secondRank">2</div>
    </div>
    <div class="podium_item first">
      <p class="podium_city">{{rankings[0]?.member?.name}}</p>
      <div class="podium_rank firstRank">1</div>
    </div>
    <div class="podium_item third">
      <p class="podium_city">{{rankings[2]?.member?.name}}</p>
      <div class="podium_rank">3</div>
    </div>
  </div>
</p-dialog>

<p-toast></p-toast>
<p-sidebar [(visible)]="sideBarVisible" [style]="{width: '35vw'}" position="right">
  <app-hunting
    (add)="createHunting()"
    (cancel)="cancel($event)"
    (delete)="deleteHunting($event)"
    [huntings]="huntings"
  ></app-hunting>
</p-sidebar>
<p-confirmDialog [dismissableMask]="true"
                 [style]="{width: '45vw'}"
                 acceptButtonStyleClass="p-button-danger"
                 acceptIcon="pi pi-trash"
                 acceptLabel="Delete"
                 rejectLabel="Cancel"></p-confirmDialog>
<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
    <div>
      <div class="font-medium text-xl text-900">{{ competition.code }}</div>
      <div class="flex align-items-center text-700 flex-wrap">
        <div class="mr-5 flex align-items-center mt-3">
          <i class="pi pi-map-marker mr-2"></i>
          <span>{{ competition.location }}</span>
        </div>
        <div class="mr-5 flex align-items-center mt-3">
          <i class="pi pi-calendar mr-2"></i>
          <span>{{ competition.date }}</span>
        </div>
        <div class="flex align-items-center mt-3">
          <i class="pi pi-user mr-2"></i>
          <span>{{ competition.numberOfParticipants }}</span>
        </div>
      </div>
    </div>
    <div class="mt-3 lg:mt-0">
      <button (click)="createRanking()" class="p-button-success mr-2" icon="pi pi-user-plus" label="Add" pButton
              pRipple></button>
      <button (click)="createPodium()" class="p-button-outlined" icon="pi pi-star" label="Podium" pButton
              pRipple></button>
    </div>
  </div>
</div>
<div class="grid">
  <div class="col-12">
    <div class="p-5">
      <div class="surface-card shadow-2 border-round p-4">
        <div class="mb-5">
          <span class="text-xl text-900 font-medium">Competition Members</span>
        </div>
        <li
          class="flex flex-column md:flex-row md:align-items-center p-2 border-blue-300 border-1 border-round md:justify-content-between mb-4">
          <div class="mr-0 md:mr-8">
            <span class="block text-900 font-medium mb-1">{{ 'Rank' }}</span>
          </div>
          <div class="mr-0 md:mr-8">
            <span class="block text-900 font-medium mb-1">{{ 'Member Name' }}</span>
          </div>
          <div class="mr-0 md:mr-8">
            <span class="block text-900 font-medium mb-1">{{ 'Score' }}</span>
          </div>
          <div class="mr-0 md:mr-8">
            <span class="block text-900 font-medium mb-1">{{ 'Action' }}</span>
          </div>
        </li>
        <ul class="list-none p-0 m-0 px-3">
          <li *ngFor="let ranking of rankings"
              class="flex flex-column md:flex-row md:align-items-center border-bottom-1 p-1 border-blue-300 md:justify-content-between mb-4">
            <div class="mr-0 md:mr-8">
              <span class="block text-900 font-medium mb-1">{{ ranking.rank }}</span>
            </div>
            <div class="mr-0 md:mr-8">
              <span class="block text-900 font-medium mb-1">{{ ranking.member?.name }}</span>
            </div>
            <div class="mr-0 md:mr-8">
              <span class="block text-900 font-medium mb-1">{{ ranking.score }}</span>
            </div>
            <div class="mt-2 md:mt-0">
              <p-button (click)="setHunting(ranking.member?.num)" label="Hunting's" size="small"></p-button>
              <button (click)="deleteMember(ranking.member)"
                      class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only">
                <span aria-hidden="true" class="p-button-icon pi pi-trash text-red-500 text-xl"></span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


