<form [formGroup]="competitionForm">
  <div class=" p-dialog-content">
    <div class="flex flex-column gap-3 mt-3 ">
      <div>
        <label class="block mb-1 text-color text-base" for="date">Date</label>
        <span class="p-input-icon-left w-full">
        <i class="pi pi-calendar"></i>
        <input class="p-inputtext p-component p-element w-full" formControlName="date" id="date"
               min="{{date | date:'yyyy-MM-dd'}}" placeholder="" type="date">
        </span>
        <div *ngIf="competitionForm.controls?.['date']?.touched">
          {{competitionForm.controls?.['date']?.errors | json}}
          <small *ngIf="competitionForm.controls?.['date']?.errors?.['required']" class="text-red-300">Date is required.</small>
        </div>
      </div>
      <div class="flex gap-3">
        <div class="w-full">
          <label class="block mb-1 text-color text-base" for="startTime">Start Time</label>
          <span
            class="p-input-icon-left w-full">
          <i class="pi pi-clock"></i>
          <input class="p-inputtext p-component p-element w-full" formControlName="startTime" id="startTime"
                 placeholder="22-04-2023" type="time">
        </span>
        </div>
        <div class="w-full">
          <label class="block mb-1 text-color text-base" for="endTime">End Time</label>
          <span
            class="p-input-icon-left w-full">
        <i class="pi pi-clock"></i>
        <input class="p-inputtext p-component p-element w-full" formControlName="endTime" id="endTime"
               placeholder="12/22" type="time">
        </span>
        </div>
      </div>
      <div class="flex gap-3">
        <div class="w-full">
          <label class="block mb-1 text-color text-base" for="numberOfParticipants">Participants</label>
          <span
            class="p-input-icon-left w-full">
          <i class="pi pi-user-plus"></i>
          <input class="p-inputtext p-component p-element w-full" formControlName="numberOfParticipants"
                 id="numberOfParticipants"
                 placeholder="Enter Number Of Participants" type="number">
        </span>
        </div>
        <div class="w-full">
          <label class="block mb-1 text-color text-base" for="amount">Amount</label>
          <span
            class="p-input-icon-left w-full">
        <i class="pi pi-dollar"></i>
        <input class="p-inputtext p-component p-element w-full" formControlName="amount" id="amount"
               min="0" placeholder="Enter Competition Amount" type="number">
        </span>
        </div>
      </div>
      <div>
        <label class="block mb-1 text-color text-base" for="location">Location</label>
        <span class="p-input-icon-left w-full">
        <i class="pi pi-compass"></i>
        <input class="p-inputtext p-component p-element w-full" formControlName="location" id="location"
               placeholder="Enter Competition Location" type="text">
        </span>
          <small *ngIf="competitionForm.controls?.['location']?.invalid && competitionForm.controls?.['location']?.touched" class="text-red-300">Date is required.</small>
      </div>
    </div>
  </div>
  <div class="p-dialog-footer">
    <div class="flex gap-3 justify-content-end border-top-1 surface-border pt-5">
      <button (click)="onCancel()" class="p-element p-ripple p-button-text p-button p-component" type="button">
      <span
        class="p-button-label">Cancel
      </span>
      </button>
      <button (click)="onSubmit()" [disabled]="!competitionForm.valid"
              class="p-element p-ripple p-button-rounded p-button p-component">
      <span
        class="p-button-label">Submit
      </span>
      </button>
    </div>
  </div>
</form>
