<div  class="col-12 xl:col-3 md:col-6 p-3 w-24rem">
  <div  class="surface-card shadow-2 border-round p-3" style="border-radius: 6px;"><img
    class="mb-3 w-full" src="https://maghreb.simplonline.co/_next/image?url=https%3A%2F%2Fsimplonline-v3-prod.s3.eu-west-3.amazonaws.com%2Fmedia%2Fimage%2Fjpg%2Fchasse-sous-marine-sous-eau-950002-169315-657215df5fd58614044589.jpg&w=1280&q=75">
    <div  class="flex justify-content-between align-items-start">
      <div >
        <div  class="text-xl font-medium text-900 mb-2">{{ competition.code }}</div>
        <p class="mt-0 mb-3 text-600">{{ competition.date }}</p></div>

    </div>
    <ul class="list-none m-0 p-0">
      <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border"><span
        class="text-600 font-medium text-sm">Location</span><span class="text-900 font-medium text-sm">{{competition.location}}</span>
      </li>
      <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border"><span
        class="text-600 font-medium text-sm">Start Time</span><span class="text-900 font-medium text-sm">{{competition.startTime}}</span>
      </li>
      <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border"><span
        class="text-600 font-medium text-sm">End Time</span><span class="text-900 font-medium text-sm">{{competition.endTime}}</span>
      </li>
      <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border"><span
        class="text-600 font-medium text-sm">Number Of Participants</span><span
        class="text-900 font-medium text-sm">{{competition.numberOfParticipants}}</span></li>
    </ul>

    <div class="flex justify-content-between mt-2">
      <button (click)="onUpdate()" class="p-element p-ripple p-button-rounded p-button-text p-button p-component p-button-icon-only" >
        <span aria-hidden="true" class="p-button-icon pi pi-pencil"></span>
      </button>
      <button (click)="onDelete()" class="p-element p-ripple p-button-rounded p-button-text p-button p-component p-button-icon-only" >
        <span aria-hidden="true" class="p-button-icon pi pi-trash"></span>
      </button>
      <button (click)="enter()" class="p-element p-ripple p-button-rounded p-button-text p-button p-component p-button-icon-only" >
        <span aria-hidden="true" class="p-button-icon pi pi-eye"></span>
      </button>
    </div>

  </div>
</div>


